---
# BasedOnStyle:  LLVM
AccessModifierOffset: -1
AlignAfterOpenBracket: DontAlign
AlignArrayOfStructures: Left
AlignEscapedNewlines: Left
AlignOperands: DontAlign
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BraceWrapping:
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakInheritanceList: AfterComma
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: AfterColon
BreakAfterJavaFieldAnnotations: true
BreakStringLiterals: false
ColumnLimit:     100
#CommentPragmas:  '^ IWYU pragma:'
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
Cpp11BracedListStyle: false
DisableFormat: false
PackConstructorInitializers: CurrentLine
ForEachMacros:
  - FOREACH
IfMacros:
  - IF
IncludeBlocks: Preserve
IndentAccessModifiers: true
IndentCaseLabels: true
IndentPPDirectives: None
IndentExternBlock: Indent
IndentRequires: false
IndentWidth: 2
IndentWrappedFunctionNames: true
MaxEmptyLinesToKeep: 2
PointerAlignment: Left
PPIndentWidth: -1
ReferenceAlignment: Pointer
RemoveBracesLLVM: false
SeparateDefinitionBlocks: Leave
ShortNamespaceLines: 1
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParensOptions:
  AfterForeachMacros: false
  AfterIfMacros: false
  AfterOverloadedOperator: true
SpaceAroundPointerQualifiers: Before
SpaceInEmptyBlock: true
SpacesBeforeTrailingComments: 2
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
  Minimum:         1
  Maximum:         2
TabWidth:        2
...
