# build stuff
build/*/
build/params.fpx
# image files
*.png
*.jpg
*.gif

# vs/vscode files
.vs/
.vscode/

# Compiled stuff
*.o
*.obj
*.lo
*.slo

*.so
*.dylib
*.dll

*.lai
*.la
*.a
*.lib

# specific files
curlout.txt
curlscript_ws.sh
