# build stuff
build/
scripts/params.fpx
# image files
*.png
*.jpg
*.gif

# editor files
.vs/
.vscode/
.swp

# Compiled stuff
*.o
*.obj
*.lo
*.slo

*.so
*.dylib
*.dll

*.lai
*.la
*.a
*.lib

# binaries
*.out

# specific files
curlout.txt
curlscript_ws.sh
